$main-color: rgb(0%, 40%, 40%);
$trim-color: scale-saturation(scale-lightness($main-color, 50), -80);
$chrome-color: scale-saturation(scale-lightness($main-color, 90), -90);
$content-background-color: scale-saturation(scale-lightness($main-color, 98), -90);
