<ul class="main-navigation">
	<li><a href="http://dale.emery.name" title="My personal web site">dale.site</a></li>
	<li><a href="http://dale.emery.name/songs" title="Songs by my friends and me">dale.songs</a></li>
	<li><a href="http://dale.emery.name/genealogy" title="My family genealogy">dale.dna</a></li>
	<li><a href="http://trot.dale.emery.name" title="My personal blog">dale.blog</a></li>
	<li><a href="http://dalewriting.dale.emery.name" title="My writing blog">dale.writing</a></li>
	<li><a href="http://dalefiction.dale.emery.name" title="My fiction blog">dale.fiction</a></li>
	<li><a href="http://dhemery.com" title="My consulting business">dale.biz</a></li>
</ul>
