<section>
	<h1>find.me</h1>
	<ul id="web-links">
		<li><a href="http://www.facebook.com/dale.emery" title="Dale on Facebook">On Facebook</a></li>
		<li><a href="https://plus.google.com/106699842848102881227" title="Dale on Google Plus">On Google+</a></li>
		<li><a href="http://www.linkedin.com/pub/dale-emery/2b/26b/92b" title="Dale on LinkedIn">On LinkedIn</a></li>
		<li><a href="http://www.quora.com/dale-emery" title="Dale on Quora">On Quora</a></li>
		<li><a href="http://twitter.com/dhemery" title="Dale on Twitter">On Twitter</a></li>
		<li><a href="http://youtube.com/user/dhemery" title="Dale on YouTube">On YouTube</a></li>
	</ul>
</section>
