///////////////////////////////////////////////////////////
//
// Banner
//
///////////////////////////////////////////////////////////

body > header {
    text-align: center;
    background: $header-bg;
//    background-image: url(/images/logo.png);
//    background-repeat: no-repeat;
//    background-position: 2% center;
}




///////////////////////////////////////////////////////////
//
// Color tweaks
//
///////////////////////////////////////////////////////////

#content header {
    color: $main-color;
}

// Turn off RSS subscription image
.maskImage a[rel="subscribe-rss"] {
	display: none;
}




///////////////////////////////////////////////////////////
//
// Link style tweaks
//
///////////////////////////////////////////////////////////

body > nav, aside.sidebar {
    a {
        font-weight: bold;
    }
}

a, #content a, #tweets a[href*=status]:first-child {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
